.control-btn {
padding: 10px 20px;
font-size: 16px;
border: none;
cursor: pointer;
margin: 5px;
}

#turn-on {
background-color: green;
color: white;
}

#turn-off {
background-color: red;
color: white;
}
